.credit-card-form-div {

  .label-group {

    width: 100%;
    text-align: start;
    font-size: 10px;
    font-weight: 300;
    color: #2d3059;

  }

  .input-group {

    border-color: #2d3059;
    border-radius: 12px;

  }

}
