.products-list-div {

  .title {

    width: 100%;
    text-align: start;
    font-size: 30px;
    color: white;
    font-weight: 700;
    margin-bottom: 30px;

  }

  .total-price-upper-divisor {

    display: block;
    border-top: 2px solid #4f948e;

  }

  .total-price-products {

    width: 100%;
    text-align: end;
    font-size: 30px;
    font-weight: 300;
    color: white;

  }

}
